.atas{
    display: flex;   
    flex-direction: row;
    justify-content: space-around;
}
.wrapper-kiri{

}
.kotak-hijau{
    width: 100%;
    height: 30px;
    background-color: chartreuse;
}
.kotak-merah{
    width: 100px;
    height: 100px;
    background-color: #ff5757;
    margin: 10px;
}

.kotak-pink{
    width: 100px;
    height: 100px;
    background-color: #ff66c4;
    margin: 10px;
    border-radius: 15px;
}

.segitiga{
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* adjust the size of the triangle */
  border-bottom: 50px solid transparent; /* adjust the size of the triangle */
  border-left: 100px solid #ffbd59; /* adjust the size and color of the triangle */
}

.lingkaran{
    width: 100px;
    height: 100px;
    border: 5px solid #5ce1e6;
    border-radius: 50px;
}

.kotak-biru{
    width: 100px;
    height: 90%;
    background-color: #03989e;
    border-radius:20px;
}