.button-reset {
    background-color: #ffde59;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    }
.button-start{
    background-color: #c9e265;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
.button-stop{
    background-color: #7ed957;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.stopwatch-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5ce1e6;
    margin: 2rem 0;
    width: 70vw;
}

.button-wrapper{
    width: 70vw;
    display: flex;
    justify-content: space-between;
}